[submodule "server"]
	path = server
	url = https://github.com/RotterYkrn/ToDo_Backend_Typescript_NodeJS
[submodule "db"]
	path = db
	url = https://github.com/RotterYkrn/MySQL_Database
[submodule "client"]
	path = client
	url = https://github.com/RotterYkrn/ToDo_Frontend_Typescript.git
